# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
9.png
10.png
11.png
12.png
13.png
14.png
15.png
16.png
bg.pdn
bg.png
bgside1.pdn
bgside2.pdn
layout.png
miss.png
yal.png
